<!DOCTYPE html>
{% load staticfiles %}
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" href={% static 'css/amazeui.min.css' %} />
		 <link rel="stylesheet" href={% static 'css/admin.css' %} />
		 <link rel="stylesheet" href={% static 'css/bootstrap.css' %} />
		<link rel="stylesheet" href={% static 'css/custom.css' %} />
	</head>
	<body>
		<div class="admin-content-body">
      	<div class="am-cf am-padding am-padding-bottom-0">
	        <h3 class="am-fl am-cf">
	          <strong class="am-text-primary am-text-lg">意见反馈</strong> 
	        </h3>
      	</div>
		<form method="post" action={% url 'public:feedback' business.id %}>
            {% csrf_token %}
			<div style="width: auto; height: 300px;">
			<div style="margin-left:15px;">
				<h5>反馈意见</h5>
				<div style="text-align: center;">
					<textarea name="feedbackContent" style="width: 1200px; height: 200px; background:lightseagreen;  color: white;"></textarea>
				</div>
			</div>
			</div>
	      	<div style="text-align: center;">
				<input type="submit" class="btn btn-info" style="width: 80px; height: 40px;" value="提交"/>
			</div>
		</form>
    
    </div>
    {{ errmsg }}
	</body>
</html>
